
<section class="row recent_uploads">
        <div class="container">
        	<div class="row title_row">
                <h3>Recent uploads</h3>
            </div>
            <div class="row media-grid content_video_posts"><div class="jscroll-inner">
            	<%@videos.each do |video| %>
	                <article class="col-sm-3 video_post postType3">
	                    <div class="inner row m0">
	                        <a href="videos/<%=video['_id']%>"><div class="row screencast m0">
	                            <img src="<%=video['thumbnails'][0]['url']%>" alt="" class="cast img-responsive">
	                            <div class="play_btn"></div>
	                            <div class="media-length"><%=(video['duration']/60).to_f%></div>
	                        </div></a>
	                        <div class="row m0 post_data">
	                            <div class="category"><a href="category.html"><img src="images/icons/catagory.png" alt="">Art</a></div>
	                            <div class="row m0"><a href="single-video.html" class="post_title"><%=video['description'].gsub(/^(.{50,}?).*$/m,'\1...')%></a></div>
	                            <div class="fleft date">Published: <%=video['published_at']%></div>
	                            <div class="fright views"><a href="#"><img src="images/icons/views.png" alt="">3,45,346</a></div> 
	                        </div> 
	                    </div>
	                </article>
                <%end%>
            </div>
          </div>
        </div>
    </section>